@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'sass:map';

.el-form{
  @include base(form) {
    @include m(inline) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.el-form-item{
  @include base(form-item) {
      @include m(inline) {
        .el-form-item__content{
          min-width: var(--el-form-inline-content-width);
        }
      }
  }
}