@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'sass:map';
@use 'mixins/config' as *;

@include base(form) {
  width: 100%;
  @include m(inline) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    transition: height 0.5s ease-in-out; /* 0.5秒过渡时间，缓动效果 */
  }
}

@include base(form-item) {
  @include m(inline) {
    padding-right: 12px!important;
    margin-right: 0!important;
    .#{$orgnamespace}-form-item__content{
      min-width: 0;
      width: 100%!important;
    }
  }
  .#{$orgnamespace}-form-item__label{
    align-items: center;
    line-height: 1;
    text-align: right;
  }
  .#{$orgnamespace}-date-editor{
    width: 100%!important;
  }
}
