@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'sass:map';

.el-form{
  @include base(form) {
    width: 100%;
    @include m(inline) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.el-form-item{
  @include base(form-item) {
    @include m(inline) {
      margin-right: 12px!important;
      flex: 1;
      .el-form-item__content{
        min-width: var(--el-form-inline-content-width);
      }
    }
    .el-date-editor{
      width: 100%;
    }
  }
}