@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'sass:map';

@include base(query) {
  $root:&;
  display: flex;
  flex-direction: column;
  margin-bottom:10px;
  border-bottom: 1px solid #DCDFE6;
  @include m(line){
    overflow: hidden;
    @include child-level(form){
      width: calc(100% - 300px);
    }
    flex-direction: row;
    @include child($root,sure){
      justify-content: end;
    }
  }
  @include m(sure) {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    // align-items: flex-end;
    margin-bottom: 18px;
  }
  @include m(icon) {
    margin: 4px;
  }
}