@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'sass:map';
@use 'mixins/config' as *;

@include base(table) {
  .#{$orgnamespace}-table__header-wrapper{
    .#{$orgnamespace}-table__cell{
      background: var(--el-color-primary-light-9)!important;
    }
  }
  .#{$orgnamespace}-table__header{
    .cell{
      color: #000;
      font-weight: bold;
      padding: 0px 4px;
    }
  }
  .#{$orgnamespace}-table__body{
    .cell{
      padding: 0px 4px;
    }
  }
}